{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "airbnb-base"
    ],
    "env": {
        "node": true,
        "browser": true
    },
    "plugins": [
        "import",
        "@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "quotes": "off",
        "no-console": "off",
        "eol-last": "off",
        "comma-dangle": "off",
        "import/newline-after-import": "off",
        "import/no-unresolved": "off",
        "import/extensions": "off",
        "padded-blocks": "off",
        "lines-between-class-members": "off",
        "indent": ["off", 4],
        "no-multiple-empty-lines": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "class-methods-use-this": "off",
        "no-trailing-spaces": "off",
        "no-plusplus": "off",
        "brace-style": "off",
        "import/no-named-default": "off",
        "prefer-destructuring": "off",
        "object-shorthand": "off",
        "no-undef": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "import/prefer-default-export": "off"
    }
}